<%= form_for([:admin, @category, @word]) do |f| %>

    <%= render "shared/error_message", object:f.object %>
    <%# エラーメッセージ %>
    
    <div class="text-left">
        <div class="form-group">
            <%= f.label :title %><br>
            <%= f.text_field :content,class:"form-control"%>
        </div>

        <%# お手本 %>

        <%# ここからthis is answer %>
        <%= f.fields_for :choices do |p| %>
            <div class="form-group">
                <%= p.label :choices %><br>
                <%= p.text_field :content,class:"form-control"%>
            </div>
            <div class="form-check">
                <%= p.check_box :is_correct %>
                <%= p.label :is_correct, "This is the answer" %>
            </div>
        <% end %>

        <div>
            <%= f.submit btn_msg, class: 'btn btn-primary btn-block'%>
        </div>
    </div>
<% end %>