<div class="container p-4">
    <h2 class="card-title text-center"><%= @category.title %></h2>
    <h5 class="card-title text-center"><%= @category.description %></h5>
    <%= link_to "New Word",new_admin_category_word_path(@category),class:"btn btn-secondary m-2 text-center" %>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Answer</th>
                <th scope="col">Setting</th>
            </tr>
        </thead>
        <tbody>
            <% @words.each do |word| %>
                <tr>
                    <td><%= word.content %></td>
                    <td><%= word.correct_answer.content %></td>
                    <td><%= link_to "Edit",edit_admin_category_word_path(@category,word), class:""%>/<%= link_to "Remove",admin_category_word_path(@category,word),method: :delete,data:{confirm:"Are you sure?"}%>
                    </td> 
                </tr>
            <% end %>
        </tbody>
    </table>
     <%= will_paginate %>
   
    <%= link_to "Back",admin_categories_path, class:"btn btn-light my-2" %>
</div>