<div class="bg-image" id="bg-image3"></div>

<div class="bg-text mt-5" id="bg-text3">
    <div class="row">
        <div class="col-md-4">
            <h1>Dash board</h1>
            <% if current_user.picture? %>
                <%=image_tag current_user.picture.url, class:"img-size rounded-circle"%>
            <% end %>
            <h2 class="card-title text-center"><%= current_user.name %></h2>
            <div class="card-body">
                <hr>
                <div class>
                    <div class="text-center">
                        <p>Learned 10 words</p>
                    </div>
                    <div class="text-center">
                        <p>Learned 2 lessones</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 text-center">
            <h1 m-2>All ACTIVITIES</h1>
            <div class="activity_table">
                <table class="text-left">
                    <% @static_pages.each do |activity| %>
                        <% if activity.action_type == "Relationship" %>
                            <tr>
                                <% if current_user ==  activity.user%>
                                    <td class="p-2"><%= link_to "YOU",activity.user %></td>
                                <% else %>
                                    <td class="p-2"><%= link_to activity.user.name,activity.user %></td>
                                <% end %>
                                <td>followed</td>
                                <td class="p-2"><%= link_to activity.action.followed.name, activity.action.followed %></td>
                                <td><%= time_ago_in_words(activity.created_at) %></td>
                            </tr>
                        <% else %>
                            <tr>
                                <% if current_user ==  activity.user%>
                                    <td class="p-2"><%= link_to "YOU",activity.user %></td>
                                <% else %>
                                    <td class="p-2"><%= link_to activity.user.name,activity.user %></td>
                                <% end %>
                                <td>learned</td>
                                <td class="p-2"><%= activity.action.correct_answers %> of <%= activity.action.words.count %>in
                                <%=link_to activity.action.category.title,activity.action %></td>
                                <td><%= time_ago_in_words(activity.created_at) %></td>
                            </tr> 
                        <% end %>
                    <% end %>
                </table>
                <div class="activity_table">
                    <%= will_paginate %>
                </div>
            </div>
        </div>
    </div>
        
</div>