<div class="bg-image" id="bg-image3"></div>

<div class="bg-text mt-5" id="bg-text3">
    <div class="row">
        <div class="col-md-4">
            <div class="p-3 text-center">
                <% if @user.picture? %>
                    <%=image_tag @user.picture.url, class:"img-size rounded-circle"%>
                <% end %>
            </div>
            <h2 class="card-title text-center"><%= @user.name %></h2>
            <div class="card-body">
                <p class="card-text text-center"><%= @user.email %></p>
                <div class="follow_button">
                    <% if current_user != @user %>
                        <% unless current_user.following?(@user) %>
                            <%= button_to "Follow",relationships_path,params:{followed_id: @user},class:"btn btn-sm btn-success"%>
                        <% else %>
                            <%= button_to "unfollow",relationship_path(current_user.relationship(@user)),method: :delete,class:"btn btn-sm btn-secondary"%>
                        <% end %>
                    <% end %>
                </div>
                <hr>
                <div class="row">
                    <div class="d-inline-block text-center col-6">
                        <h4><%= link_to @user.active_relationships.count, following_user_path(@user) %></h4>
                        <p>follows</p>
                    </div>
                    <div class="d-inline-block text-center col-6">
                        <h4><%= link_to @user.passive_relationships.count, followers_user_path(@user) %></h4>
                        <p>followers</p>
                    </div>
                </div>
                <div>
                    <%= link_to "Admin", admin_page_admin_static_page_path(@user), class: "btn btn-info" %>
                </div>
            </div>
        </div>

        <div class="col-md-8 text-center">
            <h1 m-2>All ACTIVITIES</h1>
            <div class="activity_table text-left">
                <table>
                    <% @users.each do |activity| %>
                        <% if activity.action_type == "Relationship"%>
                            <tr>
                                <td class="p-2"><%= link_to activity.user.name,activity.user,class:"mb-0" %></td>
                                <td class="p-2">followed</td>
                                <td class="p-2"><%= link_to activity.action.followed.name, activity.action.followed %></td>
                                <td class="p-2"><%= time_ago_in_words(activity.created_at) %></td>
                            </tr>
                        <% else %>
                            <tr>
                                <td class="p-2"><%= link_to activity.user.name,activity.user%></td>
                                <td class="p-2">learned</td>
                                <td class="p-2"><%= activity.action.correct_answers %>of<%= activity.action.words.count %>/in<%=link_to activity.action.category.title,activity.action %></%=></td>
                                <td class="p-2"><%= time_ago_in_words(activity.created_at) %></td>
                            </tr>
                        <% end %>
                    <% end %>
                </table>
                <div class="activity_table">
                    <%= will_paginate %>
                </div>
            </div>
        </div>
    </div>
</div>