<div class="container p-4">
<p class="lead text-muted text-center">Administrater Categories</p>
    <%= link_to "Create new Category",new_admin_category_path,class:"btn btn-secondary text-center m-2" %>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Settings</th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |category| %>
                <tr>
                    <th scope="row"><%= link_to category.title, admin_category_words_path(category,@word), class:"btn btn-light my-2" %></th>
                    <td><%=category.description%></td>
                    <td><%= link_to "Edit",edit_admin_category_path(category), class:"" %>/<%= link_to "Remove",admin_category_path(category),method: :delete,data:{confirm:"Are you sure?"}%></td>
                </tr>
            <% end %>
        </tbody>     
    </table>
    <%= will_paginate %>
    <%= link_to "Back", admin_page_admin_static_page_path(current_user), class:"btn btn-light my-2" %>
</div>