<h1 class="text-center">Lessons</h1>

<div class="container">
    <%= link_to "All","#", class:"" %>
    <%= link_to "Learned","#", class:"" %>
    <%= link_to "Not Learned","#", class:"" %>
    <div class="row text-center">
        <% @categories.each do |category| %>
            <div class="card-deck mb-3 text-center col-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><%= category.title %></h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <%= category.description %>
                        </ul>
                        <%= link_to "Start Lesson",new_answer_path, class: 'btn btn-info' %>
                    </div>
                </div>
            </div>
        <% end %>
        <%= will_paginate %>
    </div>
</div>